<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
	<script src="js/books.js"></script>
	<script src="js/users.js"></script>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">	
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<h1>Welcome Home</h1>
	<a onclick="fetchAllUsers()">Get Users</a>
	<p id="users-list"></p>
	<p id="usr-btn"></p>
	<br>
	<h3>All Books</h3>
	<!-- <div id="books-list">
		<p id='details-btn'></p>
		<p id='book-details'></p>
	</div> -->
	<div id="books-list" ></div>
	<p id="book-btn"></p>
	<p id="book-details"></p>
	<br>
	<div id="edit-header"></div>
	<div id="edit-title"></div>
	<div id="edit-author"></div>
	<div id="edit-btn"></div>
	<div id="create-header"></div>
	<div id="create-title"></div>
	<div id="create-author"></div>
	<div id="create-btn"></div>
	<a onclick="createBook()">Create Book</a>
	<br>
	<a onclick="getMyBooks()">Get My Books</a>
	<div id="my-books"></div>
	<br>
	
</body>
</html>