<!DOCTYPE html>
<html>
<head>
	<title>Signup Page</title>
	
	<!-- bootstrap cdn -->
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<script src="js/main.js"></script>	
	<link rel="stylesheet" href="css/base.css">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-2">

			</div>
			<div class="col-8">
			<div id="col-1" class="col align-self-center">
				<!-- bootstrap form-->
				<form>
					<div class="form-group">
						<h3>Register here</h3>
						<label for="exampleInputEmail1">Email address</label>
						<input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
						<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
					</div>
					<div class="form-group">
						<label for="exampleInputPassword1">Password</label>
						<input type="password" class="form-control" id="password" placeholder="Password">
					</div>
					<div class="form-check">
						<input type="checkbox" class="form-check-input" id="exampleCheck1">
						<label class="form-check-label" for="exampleCheck1">Check me out</label>
					</div>
					<button type="submit" class="btn btn-primary" onclick="signup()">Submit</button>
				</form>
				<a href="base.html">if you already have an account, login here</a>
				<!-- end bootstrap form-->
			</div>
		</div>
		<div class="col-2">

		</div> 
	</div>
	</div>
</body>
</html>